/* Colores retro */
$light-bg: #f0f0f0;
$light-text: #222222;
$dark-bg: #0d0d0d;
$dark-text: #00ff00;
$primary-color: #00ffff; // azul neón
$accent-color: #ff00ff; // magenta neón
$border-color: #00ff00;

/* Tipografía */
$font-family: 'Courier New', monospace;